@{
    //Layout = null;
    ViewBag.Title = "Index";
}
<div id="app">

        <vxe-form :data="formData" size="mini"  title-align="right" style="min-width: 300px;max-width:300px" title-width="100px" prevent-submit title-colon custom-layout>
                <vxe-form-item title="賬號" field="UserName" :item-render="{}" span="24" class="vxe-form-item-group">
                    <template #default="{ data }">
                        <vxe-input v-model="data.UserName" class="input-customize"></vxe-input>
                    </template>
                </vxe-form-item>
                <vxe-form-item title="密碼" field="Pwd" :item-render="{}" span="24" class="vxe-form-item-group">
                    <template #default="{ data }">
                        <vxe-input v-model="data.Pwd"  type="password" class="input-customize"></vxe-input>
                    </template>
                </vxe-form-item>
                <vxe-form-item title="確認密碼" field="ConfPwd" :item-render="{}" span="24" class="vxe-form-item-group">
                    <template #default="{ data }">
                        <vxe-input v-model="data.ConfPwd"  type="password" class="input-customize"></vxe-input>
                    </template>
                </vxe-form-item>
            <vxe-form-item align="center" span="24" style="margin-top:20px">
                <template #default>
                    <vxe-button size="medium" @@click="ModifyPwd()" content="確認"></vxe-button>
                </template>
            </vxe-form-item>
        </vxe-form>
</div>

@section PageSpecificJavascriptIncludes{
    <script src="~/Areas/Sys/js/User.js?v=@Guid.NewGuid().ToString()"></script>
    @*<script src="~/Areas/Sale/js/demo1.js?v=@Guid.NewGuid().ToString()"></script>*@
    @*<link rel="stylesheet" href="~/Content/main_inv.css">*@
}