
@{
    ViewBag.Title = "密碼確認";
}

@section PageSpecificStyleSheetIncludes{
    <style>
        .my-vxe-form-item {
            height: 30px;
        }  
    </style>
}
<div id="app"> 
    <input class="" type="hidden" name="user_id" value="@ViewBag.user_id" id="user_id"/>

    <div style="margin-top:40px;margin-bottom:60px;margin-right:0px">
         <vxe-form :data="loginData" ref="formHead" size="mini" title-align="right" title-width="100px" style="width:80%" custom-layout>
            <vxe-form-item title="用戶:" :item-render="{}" span="24" class="my-vxe-form-item">
                <vxe-input v-model="loginData.user_id" maxlength="20" class="input-customize" @@blur="getUserName(loginData.user_id)" ></vxe-input>                    
            </vxe-form-item>
            <vxe-form-item title=" " :item-render="{}" span="24" class="my-vxe-form-item">
                <vxe-input v-model="loginData.user_name" maxlength="30" class="input-customize" readonly ></vxe-input>
            </vxe-form-item>
                <vxe-form-item title="密碼:" :item-render="{}" span="24" class="my-vxe-form-item">@*vxe-form-item-customize*@
                <vxe-input v-model="loginData.password" maxlength="20" class="input-customize" placeholder="請輸入密碼" type="password"></vxe-input>
            </vxe-form-item>
         </vxe-form>
    </div>  
    @*<hr size=2>*@
    @*<vxe-toolbar perfect size="small" style="height:35px;margin-bottom:0px;" align="center">
        <template #buttons style="height:35px;margin-bottom:10px;">
            <vxe-button icon="iconfont icon-cancel" @@click="cancelEvent()">取消</vxe-button>
            <vxe-button status="success" icon="iconfont icon-confirm4" @@click="confirmEvent()" style="margin-left: 50px">確認</vxe-button>
        </template>        
    </vxe-toolbar>*@
    
    <el-divider></el-divider>
    <div align="center">
        <span slot="footer" class="dialog-footer" >
            <el-button type="info" icon="el-icon-close" size="small" @@click="cancelEvent()" plain>取消</el-button>
            <el-button type="primary" icon="el-icon-check" size="small" @@click="confirmEvent()" plain>確認</el-button>
        </span>
    </div>


</div>


@section PageSpecificJavascriptIncludes{
    <script>Vue.config.productionTip= false</script>
    <script src="~/Areas/Base/js/passwordConfirm.js?v=@Guid.NewGuid().ToString()"></script>
}