
@{
    //Layout = null;
    ViewBag.Title = "Index";
}



<div id="app">
<vxe-toolbar perfect size="medium" style="height:35px;background-color:gainsboro;margin-top:-6px" >
    <template #buttons>
        <vxe-button type="text" icon="fa fa-plus" status="primary" content="新增" @@click="newDoc()"></vxe-button>
        <vxe-button type="text" icon="fa fa-save" content="儲存" @@click="saveEvent()"></vxe-button>
        <vxe-button type="text" icon="fa fa-pencil" @@click="addNewItem()" size="mini">項目新增</vxe-button>
        <vxe-button type="text" icon="fa fa-remove" @@click="deleteTableItemEvent()" size="mini">項目刪除</vxe-button>
        <vxe-button type="text" icon="fa fa-trash-o" content="删除"></vxe-button>
        @*<vxe-input v-model="searchProductMo" class="my-search" placeholder="輸入制單編號" style="height:30px;margin:105px,0px;">
            <template #suffix>
                <i class="fa fa-search" @@click="searchByProductMo(searchProductMo)"></i>
            </template>
        </vxe-input>*@
    </template>
</vxe-toolbar>
<div>
    <!--表頭記錄-->
    <vxe-form :data="formData" size="mini"  title-align="right" title-width="100px" prevent-submit title-colon custom-layout>@**@
            <vxe-form-item title="編號" field="ID" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.ID" class="input-customize" style="width:76%" @@blur="getDataByID(data.ID)"></vxe-input>
                    <vxe-input v-model="data.Ver" class="input-customize" style="width:22%"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="發票日期" field="oi_date" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input type="date" v-model="data.oi_date" class="input-customize"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="來源" field="separate" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-select v-model="data.separate" size="mini">
                        <vxe-option v-for="item in DocSourceTypeList" :key="item.value" :value="item.value" :label="item.label"></vxe-option>
                    </vxe-select>
                </template>
            </vxe-form-item>
            <vxe-form-item title="店鋪編號" field="Shop_no" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.Shop_no" class="input-customize"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="客戶編號" field="it_customer" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.it_customer" class="input-customize" maxlength="8" style="width:72%"></vxe-input>
                    <vxe-button icon="fa fa-search" class="input-customize" style="height:20px;width:18%;"></vxe-button>
                </template>
            </vxe-form-item>
            <vxe-form-item title="電話" field="phone" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.phone" class="input-customize"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="傳真" field="fax" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.fax" class="input-customize"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="付款日期" field="payment_date" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.payment_date" class="input-customize"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="聯繫人" field="linkman" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.linkman" class="input-customize"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="聯繫人電話" field="l_phone" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.l_phone" class="input-customize"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="部門" field="department_id" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.department_id" class="input-customize"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="電郵地址" field="email" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.email" class="input-customize"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="出貨倉位" field="issues_wh" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-select v-model="data.issues_wh" size="mini">
                        <vxe-option v-for="item in OutStoreList" :key="item.value" :value="item.value" :label="item.label"></vxe-option>
                    </vxe-select>
                </template>
            </vxe-form-item>
            <vxe-form-item title="單據種類" field="bill_type_no" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-select v-model="data.bill_type_no" size="mini">
                        <vxe-option v-for="item in InvSourceTypeList" :key="item.value" :value="item.value" :label="item.label"></vxe-option>
                    </vxe-select>
                </template>
            </vxe-form-item>
            <vxe-form-item title="跟單員" field="merchandiser" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-select v-model="data.merchandiser" size="mini">
                        <vxe-option v-for="item in SalesmanList" :key="item.value" :value="item.value" :label="item.label"></vxe-option>
                    </vxe-select>
                </template>
            </vxe-form-item>
            <vxe-form-item title="跟單員電話" field="merchandiser_phone" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.merchandiser_phone" class="input-customize"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="訂單編號" field="po_no" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.po_no" class="input-customize"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="Via" field="shipping_methods" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.shipping_methods" class="input-customize"></vxe-input>
                </template>
            </vxe-form-item>
        <vxe-form-item title="銷售員編號" field="seller_id" :item-render="{}" span="6" class="vxe-form-item-customize">
            <template #default="{ data }">
                <vxe-select v-model="data.seller_id" size="mini">
                    <vxe-option v-for="item in SalesmanList" :key="item.value" :value="item.value" :label="item.label"></vxe-option>
                </vxe-select>
            </template>
        </vxe-form-item>
            <vxe-form-item title="貨幣編號" field="m_id" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-select v-model="data.m_id" size="mini">
                        <vxe-option v-for="item in CurrList" :key="item.value" :value="item.value" :label="item.label"></vxe-option>
                    </vxe-select>
                </template>
            </vxe-form-item>
            <vxe-form-item title="比率" field="exchange_rate" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.exchange_rate" class="input-customize"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="發票貨品總金額" field="goods_sum" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.goods_sum" class="input-customize" disabled></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="其它費用" field="other_fare" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.other_fare" class="input-customize" disabled></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="折扣(%)" field="disc_rate" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.disc_rate" class="input-customize" @@blur="sumInvAmt()"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="折扣額" field="disc_amt" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.disc_amt" class="input-customize"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="折扣後金額" field="disc_spare" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.disc_spare" class="input-customize" disabled></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="總金額" field="total_sum" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.total_sum" class="input-customize" disabled></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="稅種編號" field="tax_ticket" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.tax_ticket" class="input-customize" style="width:78%"></vxe-input>
                    <vxe-input v-model="data.tax_ticket" class="input-customize" disabled style="width:20%"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="稅款總額" field="tax_sum" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.tax_sum" class="input-customize" disabled></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="總數量" field="amount" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.amount" class="input-customize"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="新模模費" field="other_fee" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.other_fee" class="input-customize"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="總包數" field="total_package_num" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.total_package_num" class="input-customize"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="總重量" field="total_weight" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.total_weight" class="input-customize"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="備註" field="remark2" :item-render="{}" span="12" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.remark2" class="input-customize"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="裝運嘜頭" field="ship_remark" :item-render="{}" span="12" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.ship_remark" class="input-customize"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="裝運嘜頭" field="ship_remark2" :item-render="{}" span="12" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.ship_remark2" class="input-customize"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="裝運嘜頭" field="ship_remark3" :item-render="{}" span="12" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.ship_remark3" class="input-customize"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="附帶條款" field="remark" :item-render="{}" span="12" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.remark" class="input-customize"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="付款方式" field="p_id" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-select v-model="data.p_id" size="mini">
                        <vxe-option v-for="item in PaymentTypeList" :key="item.value" :value="item.value" :label="item.label"></vxe-option>
                    </vxe-select>
                </template>
            </vxe-form-item>
            <vxe-form-item title="價格條件" field="pc_id" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-select v-model="data.pc_id" size="mini">
                        <vxe-option v-for="item in PriceCondList" :key="item.value" :value="item.value" :label="item.label"></vxe-option>
                    </vxe-select>
                </template>
            </vxe-form-item>
            <vxe-form-item title="裝運方式" field="sm_id" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-select v-model="data.sm_id" size="mini">
                        <vxe-option v-for="item in ShipModeList" :key="item.value" :value="item.value" :label="item.label"></vxe-option>
                    </vxe-select>
                </template>
            </vxe-form-item>
            <vxe-form-item title="銀行賬號" field="accounts" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-select v-model="data.accounts" size="mini">
                        <vxe-option v-for="item in AccountList" :key="item.value" :value="item.value" :label="item.label"></vxe-option>
                    </vxe-select>
                </template>
            </vxe-form-item>
            <vxe-form-item title="Per" field="per" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.per" class="input-customize"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="最終目的地" field="final_destination" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.final_destination" class="input-customize"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="發貨狀態" field="issues_state" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.issues_state" class="input-customize" disabled></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="運輸途徑" field="transport_style" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-select v-model="data.transport_style" size="mini">
                        <vxe-option v-for="item in ShipWayList" :key="item.value" :value="item.value" :label="item.label"></vxe-option>
                    </vxe-select>
                </template>
            </vxe-form-item>
            <vxe-form-item title="船期" field="ship_date" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.ship_date" class="input-customize"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="裝貨港口" field="loading_port" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-select v-model="data.loading_port" size="mini">
                        <vxe-option v-for="item in ShipPortList" :key="item.value" :value="item.value" :label="item.label"></vxe-option>
                    </vxe-select>
                </template>
            </vxe-form-item>
            <vxe-form-item title="目的港口" field="ap_id" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-select v-model="data.ap_id" size="mini">
                        <vxe-option v-for="item in ShipPortList" :key="item.value" :value="item.value" :label="item.label"></vxe-option>
                    </vxe-select>
                </template>
            </vxe-form-item>
            <vxe-form-item title="換船港口" field="tranship_port" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.tranship_port" class="input-customize"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="最終客戶" field="finally_buyer" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.finally_buyer" class="input-customize"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="負責組別" field="mo_group" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-select v-model="data.mo_group" size="mini">
                        <vxe-option v-for="item in MoGroupList" :key="item.value" :value="item.value" :label="item.label"></vxe-option>
                    </vxe-select>
                </template>
            </vxe-form-item>
            <vxe-form-item title="裝箱單號" field="packinglistno" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.packinglistno" class="input-customize"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="箱號" field="box_no" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.box_no" class="input-customize"></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="建檔人" field="create_by" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.create_by" class="input-customize" disabled></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="建檔日期" field="create_date" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.create_date" class="input-customize" disabled></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="修改人" field="update_by" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.update_by" class="input-customize" disabled></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="修改日期" field="update_date" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.update_date" class="input-customize" disabled></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="狀態" field="state" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.state_name" class="input-customize" style="width:76%" disabled></vxe-input>
                    <vxe-input v-model="data.state" class="input-customize" style="width:22%" disabled></vxe-input>
                </template>
            </vxe-form-item>
            <vxe-form-item title="批准日期" field="check_date" :item-render="{}" span="6" class="vxe-form-item-customize">
                <template #default="{ data }">
                    <vxe-input v-model="data.check_date" class="input-customize" disabled></vxe-input>
                </template>
            </vxe-form-item>
    </vxe-form>
</div>
    <!--明細表記錄-->
<div style="margin-top:20px">
    <vxe-table border
               show-overflow
               height="350"
               size="mini"
               :row-config="{height: 20,isCurrent: true, isHover: true}"
               highlight-current-row
               ref="xTable"
               :loading="loading3"
               :sync-resize="selectTab"
               :checkbox-config="{highlight: true, range: true}"
               :data="tableDetails"
               :keyboard-config="{isArrow: true, isEnter: true,Backspace:true}"
               :edit-config="{trigger: 'click', mode: 'row', icon: 'fa fa-pencil1', showStatus: true}"
               @@cell-click="tableDetailsCellClickEvent"
               @@current-change="currentChangeEvent"
               >
        <vxe-column type="seq" title="序號" width="60"></vxe-column>
        <vxe-column field="shipment_suit" title="套件出貨" width="80" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-checkbox v-model="row.shipment_suit" size="mini" style="height:20px"></vxe-checkbox>
            </template>
        </vxe-column>
        <vxe-column field="mo_id" title="頁數" width="120" :edit-render="{autofocus: '.vxe-input--inner'}">
            <template #edit="{ row }">
                <vxe-input v-model="row.mo_id" style="height:20px" @@input="tablemo_idInputEvent(row)" @@blur="getDataFromOC(row)" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="goods_id" title="貨品編碼" width="180" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.goods_id" style="height:20px" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="goods_name" title="貨品名稱" width="260" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.goods_name" style="height:20px" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>

        <vxe-column field="color" title="顏色" width="120" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.color" style="height:20px;" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="customer_goods" title="客戶產品編號" width="180" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.customer_goods" style="height:20px;" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="customer_color_id" title="客戶顏色編號" width="180" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.customer_color_id" style="height:20px" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="u_invoice_qty" title="發貨數量" width="80" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.u_invoice_qty" style="height:20px" @@blur="sumGoodsAmt(row)" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>

        <vxe-column field="goods_unit" title="單位" width="80" :edit-render="{autofocus: '.vxe-input--inner'}">
            <template #edit="{ row }">
                <vxe-select v-model="row.goods_unit" size="mini" @@change="sumGoodsAmt(row)">
                    <vxe-option v-for="item in QtyUnitList" :key="item.value" :value="item.value" :label="item.label"></vxe-option>
                </vxe-select>
            </template>
        </vxe-column>
        <vxe-column field="sec_qty" title="重量" width="80" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.sec_qty" style="height:20px;" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="sec_unit" title="重量單位" width="80" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.sec_unit" style="height:20px" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="invoice_price" title="銷售單價" width="80" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.invoice_price" style="height:20px;" @@blur="sumGoodsAmt(row)"></vxe-input>
            </template>
        </vxe-column>

        <vxe-column field="p_unit" title="單價單位" width="80" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-select v-model="row.p_unit" size="mini" @@change="sumGoodsAmt(row)">
                    <vxe-option v-for="item in QtyUnitList" :key="item.value" :value="item.value" :label="item.label"></vxe-option>
                </vxe-select>
            </template>
        </vxe-column>
        <vxe-column field="total_sum" title="總金額" width="100" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.total_sum" style="height:20px;"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="package_num" title="包數" width="80" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.package_num" style="height:20px;" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="box_no" title="箱號" width="80" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.box_no" style="height:20px;" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>

        <vxe-column field="spec" title="規格" width="80" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.spec" style="height:20px;" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="table_head" title="客戶款號" width="80" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.table_head" style="height:20px;" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="is_print" title="打印" width="60" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.is_print" style="height:20px;" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="subject_id" title="科目編號" width="80" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.subject_id" style="height:20px;" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>

        <vxe-column field="issues_date" title="出貨日期" width="80" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.issues_date" style="height:20px;" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="issues_id" title="出貨單號" width="80" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.issues_id" style="height:20px;" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="contract_cid" title="PO/NO" width="80" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.contract_cid" style="height:20px;" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="order_id" title="OC No" width="80" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.order_id" style="height:20px;" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="disc_rate" title="折扣(%)" width="80" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.disc_rate" style="height:20px;" @@blur="sumGoodsAmt(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="buy_id" title="報價單編號" width="100" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.buy_id" style="height:20px;" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="disc_price" title="折後單價" width="80" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.disc_price" style="height:20px;" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="disc_amt" title="折扣額" width="80" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.disc_amt" style="height:20px;"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="ncv" title="此價錢只限用於此單" width="140" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.ncv" style="height:20px;" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="nwt" title="淨重" width="80" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.nwt" style="height:20px;" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="gross_wt" title="毛重" width="80" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.gross_wt" style="height:20px;" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="remark" title="備注" width="80" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.remark" style="height:20px;" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="ref1" title="參考1#" width="100" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.ref1" style="height:20px;" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="ref2" title="參考2#" width="80" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.ref2" style="height:20px;" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="corresponding_code" title="對應條碼" width="80" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.corresponding_code" style="height:20px;" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>


       <vxe-column field="org_inv_no" title="原始發票號" width="100" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.org_inv_no" style="height:20px;" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="location_id" title="倉庫" width="80" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.location_id" style="height:20px;" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="apprise_id" title="出貨通知單號" width="120" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.apprise_id" style="height:20px;" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="big_class" title="大類" width="80" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.big_class" style="height:20px;" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="is_free" title="是否免費" width="80" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.is_free" style="height:20px;" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="Delivery_Require" title="走貨要求" width="100" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.Delivery_Require" style="height:20px;" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="customer_test_id" title="檢驗分類編號" width="120" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.customer_test_id" style="height:20px;" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="brand_category" title="牌子類別" width="80" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.brand_category" style="height:20px;" @@change="setCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column title="修改" width="60" :resizable="false" show-overflow>
            <template #default="{ row }">
                <vxe-button type="text" icon="fa fa-edit" @@click="editRowEvent(row)"></vxe-button>
            </template>
        </vxe-column>
    </vxe-table>
</div>
    <!--附加費列表-->
<div style="margin-top:20px">
    <vxe-table border
               show-overflow
               height="150"
               size="mini"
               :row-config="{height: 20}"
               highlight-current-row
               ref="xTable"
               :loading="loading3"
               :sync-resize="selectTab"
               :checkbox-config="{highlight: true, range: true}"
               :data="tableFareDetails"
               :keyboard-config="{isArrow: true, isEnter: true,Backspace:true}"
               @@cell-click="tableFareDetailsCellClickEvent"
               :edit-config="{trigger: 'click', mode: 'row', icon: 'fa fa-pencil1', showStatus: true}">
        <vxe-column type="seq" title="序號" width="60"></vxe-column>
        
        <vxe-column field="fare_id" title="附加費用編號" width="100" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.fare_id" style="height:20px" @@change="setFareCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="name" title="附加費用名稱" width="100" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.name" style="height:20px" @@change="setFareCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="qty" title="數量" width="80" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.qty" style="height:20px" @@change="setFareCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="price" title="價格" width="80" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.price" style="height:20px" @@change="setFareCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="fare_sum" title="費用金額" width="80" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.fare_sum" style="height:20px" @@change="setFareCurrentRowUpdateState(row)"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="mo_id" title="頁數" width="100" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.mo_id" style="height:20px"></vxe-input>
            </template>
        </vxe-column>
        <vxe-column field="is_fee" title="是否免費" width="80" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-checkbox v-model="row.is_fee" size="mini" style="height:20px"></vxe-checkbox>
            </template>
        </vxe-column>
        <vxe-column field="remark" title="備註" width="160" :edit-render="{}">
            <template #edit="{ row }">
                <vxe-input v-model="row.remark" style="height:20px"></vxe-input>
            </template>
        </vxe-column>
    </vxe-table>
</div>


<vxe-modal ref="xModal" v-model="showEdit" title="编辑&保存" width="900" height="600" resize destroy-on-close>
    
        <template #default>
            @*<div class="div-cont">*@
                <vxe-form :data="editDetails" title-align="right" title-width="100" @@submit="updateEvent" custom-layout>
                    <vxe-form-item align="left" span="24">
                        <template #default>
                            <vxe-button v-if="selectRow" type="submit" status="primary">確定</vxe-button>
                            <vxe-button v-else type="submit" status="primary" icon="fa fa-plus">新增</vxe-button>
                            @*<vxe-button type="reset">重置</vxe-button>*@
                            <vxe-button type="text" icon="fa fa-undo" @@click="$refs.xModal.close()">取消</vxe-button>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="頁數" field="mo_id" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.mo_id" class="input-customize" @@blur="getDataDetails(data.mo_id)"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="套件出貨" field="shipment_suit" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.shipment_suit" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="貨品編碼" field="goods_id" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-select v-model="data.goods_id" size="mini">
                                <vxe-option v-for="item in MoGroupList" :key="item.value" :value="item.value" :label="item.label"></vxe-option>
                            </vxe-select>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="客戶款號" field="table_head" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.table_head" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="貨品名稱" field="goods_name" span="16" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.goods_name" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="發貨數量" field="u_invoice_qty" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.u_invoice_qty" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="單位" field="goods_unit" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-select v-model="data.goods_unit" size="mini">
                                <vxe-option v-for="item in QtyUnitList" :key="item.value" :value="item.value" :label="item.label"></vxe-option>
                            </vxe-select>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="重量" field="sec_qty" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.sec_qty" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="重量單位" field="sec_unit" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.sec_unit" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="銷售單價" field="invoice_price" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.invoice_price" class="input-customize" style="width:70%"></vxe-input>
                            <vxe-select v-model="data.p_unit" size="mini" style="width:26%">
                                <vxe-option v-for="item in QtyUnitList" :key="item.value" :value="item.value" :label="item.label"></vxe-option>
                            </vxe-select>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="折扣(%)" field="disc_rate" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.disc_rate" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="折後單價" field="disc_price" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.disc_price" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="總金額" field="total_sum" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.total_sum" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="折扣額" field="disc_amt" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.disc_amt" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="報價單編號" field="buy_id" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.buy_id" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="OC No" field="order_id" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.order_id" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="出貨單號" field="issues_id" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.issues_id" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="參考1#" field="ref1" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.ref1" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="參考2#" field="ref2" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.ref2" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="只限用於此單" field="ncv" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.ncv" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="出貨通知單號" field="apprise_id" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.apprise_id" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="是否免費" field="is_free" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.is_free" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="對應條碼" field="corresponding_code" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.corresponding_code" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="淨重" field="nwt" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.nwt" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="毛重" field="gross_wt" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.gross_wt" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="包數" field="package_num" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.package_num" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="箱號" field="box_no" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.box_no" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="顏色" field="color" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.color" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="規格" field="spec" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.spec" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="科目編號" field="subject_id" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.subject_id" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="PO/NO" field="contract_cid" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.contract_cid" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="走貨要求" field="Delivery_Require" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.Delivery_Require" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="倉庫" field="location_id" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.location_id" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>

                    <vxe-form-item title="牌子類別" field="brand_category" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.brand_category" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="檢驗分類編號" field="customer_test_id" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.customer_test_id" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="客戶產品編號" field="customer_goods" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.customer_goods" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="客戶顏色編號" field="customer_color_id" span="8" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.customer_color_id" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="備注" field="remark" span="16" :item-render="{}" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.remark" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>

                </vxe-form>
            @*</div>*@
    </template>
    
</vxe-modal>

</div>
@section PageSpecificJavascriptIncludes{
    <script src="~/Areas/Sale/js/Invoice.js?v=@Guid.NewGuid().ToString()"></script>
     @*<link rel="stylesheet" href="~/Content/main_inv.css">*@ 
}