@{
    ViewBag.Title = "ProduceAssembly";
}
@section PageSpecificStyleSheetIncludes{ 
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }
    </style>
}
@section common_item_group{
    <link rel="stylesheet" href="~/Content/Styles/common-item-group.css" />
}
<div id="app">
    <vxe-toolbar perfect size="small" style="height:30px;margin-bottom:0px;min-width:1024px;" >
        <template #buttons style="height:30px;margin-bottom:5px">
            <vxe-button type="text" icon="iconfont icon-file-add1" :disabled="(isEditHead)" @@click="insertEvent()" content="新增"></vxe-button>
            <vxe-button type="text" status="danger" icon="iconfont icon-delete2" :disabled="isEditHead" @@click="delHeadEvent()" style="margin-left: -2px"content="注銷"></vxe-button>           
            <vxe-button type="text" icon="iconfont icon-save1" :disabled="!(isEditHead)" @@click="saveAllEvent()" style="margin-left: -2px"content="保存"></vxe-button>
            <vxe-button type="text" icon="iconfont icon-chexiaocancel" :disabled="!(isEditHead)" @@click="revertEvent()" content="取消"></vxe-button>
            <vxe-button type="text" icon="iconfont icon-confirm4" v-if="headData.state==='0' && !(isEditHead) && ok_status ==='0'" @@click="approveEvent('1')"content="批準"></vxe-button>
            <vxe-button type="text" icon="iconfont icon-cancel7" v-if="headData.state==='1' && !(isEditHead) && unok_status !='1'" @@click="approveEvent('0')" style="margin-left: -2px"content="反批準"></vxe-button>
            <vxe-button type="text" icon="iconfont icon-print" :disabled="isEditHead" @@click="printEvent"content="列印"></vxe-button>           
            <input v-model="searchID" maxlenth="13" @@keyup.enter="findByID()" placeholder="編號搜索" style="outline-style:none;margin-left:20px">
            <vxe-button type="text" icon="iconfont icon-search1" :disabled="isEditHead" @@click="showFindWindos()" style="margin-left: -2px"content="查找"></vxe-button>
        </template>
    </vxe-toolbar>
    <p style="height:25px;margin:0px;">
        <vxe-radio-group v-model="selectTab" style="height:20px;margin:0px;">
            <vxe-radio-button label="tab1" content="組裝轉換主資料"></vxe-radio-button>
            <vxe-radio-button label="tab2" content="組裝轉換明細資料"></vxe-radio-button>
        </vxe-radio-group>
    </p>
    <div v-show="selectTab === 'tab1'" style="margin:15px 0px;">
        <div :style="getStyle()">
            <vxe-form :data="headData" ref="formHead" size="mini" style="min-width:1024px;max-width:1152px" title-align="right" title-width="100px" custom-layout >
                <vxe-form-item title="編號" :item-render="{}" span="6" class="vxe-form-item-group" style="color:blue">
                    <vxe-input v-model="headData.id" maxlength="13" class="input-customize" readonly></vxe-input>
                </vxe-form-item>
                <vxe-form-item title="組裝日期" :item-render="{}" span="6" class="vxe-form-item-group" style="color:blue">
                    <vxe-input type="date" v-model="headData.con_date" maxlength="13" class="input-customize" :readonly="isReadOnly"></vxe-input>
                </vxe-form-item>
                <vxe-form-item title="開單來源" :item-render="{}" span="6" class="vxe-form-item-group">
                    <vxe-select v-model="headData.bill_origin" size="mini" disabled>
                        <vxe-option v-for="item in BillOrigin" :key="item.value" :value="item.value" :label="item.label"></vxe-option>
                    </vxe-select>
                </vxe-form-item>
                <vxe-form-item title="移交單號" :item-render="{}" span="6" class="vxe-form-item-group">
                    <vxe-input v-model="headData.handover_id" class="input-customize" readonly></vxe-input>
                </vxe-form-item>

                <vxe-form-item title="組裝部門" :item-render="{}" span="6" class="vxe-form-item-group" style="color:blue">
                    <el-select v-model="headData.out_dept"
                               @@change="getMaxID('JO19',headData.out_dept)"
                               @@keydown.enter.native="focusInDept()"
                               filterable clearable default-first-option style="width:100%" :disabled="isDisableGenNo">
                        <el-option v-for="item in deptList" :key="item.value" :value="item.value" :label="item.label" style="height:25px;font-size: 9px"/>
                    </el-select>
                </vxe-form-item>
                <vxe-form-item title="收貨部門" :item-render="{}" span="6" class="vxe-form-item-group" style="color:blue">
                    <el-select v-model="headData.in_dept" ref="inDept" @*@change="getMaxID('JO19',headData.out_dept)"*@
                                filterable clearable default-first-option style="width:100%" :disabled="isDisableGenNo">
                        <el-option v-for="item in deptList" :key="item.value" :value="item.value" :label="item.label" style="height:25px;font-size: 9px"/>
                    </el-select>
                </vxe-form-item>
                <vxe-form-item title="備註" :item-render="{}" span="12" style="width:500px" class="vxe-form-item-customize">
                    <vxe-input v-model="headData.remark" :readonly="isReadOnly"></vxe-input>
                </vxe-form-item>
                <vxe-form-item title="經手人" :item-render="{}" span="6" class="vxe-form-item-group">
                    <vxe-input v-model="headData.handler" maxlength="20" class="input-customize" :readonly="isReadOnly"></vxe-input>
                </vxe-form-item>
                @*<vxe-form-item title="" :item-render="{}" span="6" class="vxe-form-item-group"></vxe-form-item>*@  
                @*<vxe-form-item title="" :item-render="{}" span="6" class="vxe-form-item-group"> </vxe-form-item>*@         
                <vxe-form-item title="建檔人" :item-render="{}" span="6" class="vxe-form-item-group">
                    <vxe-input v-model="headData.create_by" maxlength="20" class="input-customize" readonly></vxe-input>
                </vxe-form-item>
                <vxe-form-item title="修改人" :item-render="{}" span="6" class="vxe-form-item-group">
                    <vxe-input v-model="headData.update_by" maxlength="20" class="input-customize" readonly></vxe-input>
                </vxe-form-item>
                <vxe-form-item title="批準人" :item-render="{}" span="6" class="vxe-form-item-group">
                    <vxe-input v-model="headData.check_by" class="input-customize" readonly></vxe-input>
                </vxe-form-item>
                <vxe-form-item title="修改次數" :item-render="{}" span="6" class="vxe-form-item-group">
                    <vxe-input v-model="headData.update_count" class="input-customize" readonly></vxe-input>
                </vxe-form-item>

                <vxe-form-item title="建檔日期" :item-render="{}" span="6" class="vxe-form-item-group">
                    <vxe-input v-model="headData.create_date" class="input-customize" readonly></vxe-input>
                </vxe-form-item>
                <vxe-form-item title="修改日期" :item-render="{}" span="6" class="vxe-form-item-group">
                    <vxe-input v-model="headData.update_date" class="input-customize" readonly></vxe-input>
                </vxe-form-item>
                <vxe-form-item title="批準日期" :item-render="{}" span="6" class="vxe-form-item-group">
                    <vxe-input v-model="headData.check_date" class="input-customize" readonly></vxe-input>
                </vxe-form-item>
                <vxe-form-item title="狀態" :item-render="{}" span="6" class="vxe-form-item-group" :style=stateFontColor>
                    <vxe-select v-model="headData.state" size="mini" disabled >
                       <vxe-option v-for="item in stateList" :key="item.value" :value="item.value" :label="item.label"></vxe-option>
                    </vxe-select>
                </vxe-form-item>
            </vxe-form>           
            <input class="" type="hidden" name="user_id" value="@ViewBag.user_id" id="user_id" />       
        </div>
    </div>@*tab1 end*@

    @*<el-divider></el-divider>*@
    <div v-show="selectTab === 'tab2'" style="margin:15px 0px;">
        <vxe-toolbar perfect size="small" style="height:35px;margin-bottom:0px;background:#F5F7FA">
            <template #buttons style="height:35px;margin-bottom:10px">
                <vxe-button icon="iconfont icon-row-add" @@click="insertRowEvent()" style="margin-left: 0px" content="項目新增"></vxe-button>
                <vxe-button icon="iconfont icon-row-del" @@click="tempDelRowEvent()" style="margin-left: -2px" content="項目刪除"></vxe-button>
                <vxe-button icon="iconfont icon-add7" @*@click="insertEvent()"*@content="批量增加"></vxe-button>
                @*<vxe-button icon="iconfont icon-cancel" @click="revertDataAll()" style="color:orangered" content="取消" v-if="cancelButton"></vxe-button>*@
                @*<vxe-button icon="iconfont icon-search2"  style="margin-left: -2px" content="库存查询"></vxe-button>*@
                @*<vxe-button icon="iconfont icon-search2" @click="test()" content="test"></vxe-button>*@
            </template>
        </vxe-toolbar>
        <div style="float:left;width:100%;">
            <!--表格1-->
            <vxe-table border
                       show-overflow
                       :data="tableData1"
                       ref="xTable1"
                       @*keep-source,showStatus:true配合使用,显示单元格中左上角红色的修改状态*@
                       keep-source
                       @*設置高度*@
                       height="400"
                       size="small"
                       @*欄寬度可調*@
                       resizable
                       show-header-overflow
                       :header-cell-style="headerCellStyle"  
                       :cell-style="cellStyle"
                       highlight-hover-row
                       highlight-current-row
                       @*loading3顯示查詢動畫*@
                       :loading="loading"
                       @*:sync-resize="selectTab"*@
                       @*選中時highlight*@
                       :checkbox-config="{highlight: true, range: true}"
                       :edit-rules="validRules"
                       :keyboard-config="{isArrow: true,isTab:true,isEnter:true,enterToTab:true}"
                       @*使用键盘事件,鼠标事件时mouse-config="{selected:true}"必须设置*@
                       :mouse-config="{selected:true}"
                       :edit-config="{trigger: 'click', mode: 'cell',activeMethod:activeMethod,showIcon:true,showStatus: true}"
                       :row-config="{height: 25}"
                       @*:cell-selected="setCellFocus"*@
                       @@cell-dblclick="dbclickEvent"
                       @@cell-click="cellClickEvent" >
                @*<vxe-column type="checkbox" fixed="left" width="50"></vxe-column>*@
                <vxe-column type="seq" title="#" fixed="left" width="40"></vxe-column>
                <vxe-column field="mo_id" title="頁數" fixed="left" width="120" :edit-render="{autofocus: '.vxe-input--inner'}">
                    <template #edit="{ row }">
                        <vxe-input v-model="row.mo_id" style="height:20px;" @@change="setUpperCase('mo_id',row.mo_id,'1')" @@blur="checkMo(row.mo_id,'1')"></vxe-input>                        
                    </template>
                </vxe-column>
                <vxe-column field="goods_id" title="貨品編碼" width="200":edit-render="{autofocus: '.vxe-input--inner'}">
                    <template #edit="{ row }">
                        <vxe-input v-model="row.goods_id" type="search" style="height:20px;" 
                             @@change="setUpperCase('goods_id',row.goods_id,'1')"
                             @@search-click="showItem($event,'1')"
                             @@blur="checkItem(row.goods_id,'1')">
                        </vxe-input>
                    </template>
                </vxe-column>
                <vxe-column field="goods_name" title="貨品名稱" width="260"></vxe-column>
                <vxe-column field="con_qty" title="組裝數量" width="110" :edit-render="{name:'input',autoselect:true}" align="right">
                    <template #edit="{ row }">
                        @*<vxe-input v-model="row.con_qty" type="integer" style="height:20px;" min="0" max="99999999"></vxe-input>*@
                        <vxe-input v-model="row.con_qty" type="integer" min="0" :controls="false" style="height:20px;" @@change="setCancelStatus()"
                                     @* type="text" @@change="checkNumber(row,'con_qty',row.con_qty)"*@ >
                        </vxe-input>
                    </template>
                </vxe-column>
                <vxe-column field="unit_code" title="單位" width="50"></vxe-column>
                <vxe-column field="sec_qty" title="重量" width="110" :edit-render="{name:'input',autoselect:true}" align="right" :formatter="formatSecQty">
                    <template #edit="{ row }">
                        @*<vxe-input v-model="row.sec_qty" type="float" style="height:20px;" min="0.001" max="99999999.99"></vxe-input>*@
                        <vxe-input v-model="row.sec_qty" type="float" min="0.01" :controls="false" style="height:20px;" @@change="setCancelStatus()"
                                    @*type="text" @@change="checkNumberDec2(row,'sec_qty',row.sec_qty)"*@ >
                        </vxe-input>                        
                    </template>
                </vxe-column>
                <vxe-column field="sec_unit" title="重量單位" width="80"></vxe-column>
                <vxe-column field="lot_no" title="批號" width="120"></vxe-column>
                <vxe-column field="package_num" title="包數" width="75" :edit-render="{name:'input',autoselect:true}">
                    <template #edit="{ row }">
                        <vxe-input v-model="row.package_num" type="integer" min="0" style="height:20px;" @@change="setCancelStatus()"
                                     @*@@change="checkNumber(row,'package_num',row.package_num)"*@ >
                        </vxe-input>
                    </template>
                </vxe-column>
                <vxe-column field="color_name" title="CF顏色名稱" width="120"></vxe-column>
                <vxe-column field="four_color" title="四位顏色" width="100"></vxe-column>
                <vxe-column field="app_supply_side" title="申請供方電鍍廠" width="150"></vxe-column>
                <vxe-column field="remark" title="備註" width="150":edit-render="{}">
                    <template #edit="{ row }">
                        <vxe-input v-model="row.remark" style="height:20px;" ></vxe-input>
                    </template>
                </vxe-column>
                <vxe-column field="return_qty_nonce" title="退回數量" width="80"></vxe-column>
                <vxe-column title="操作" width="90" fixed="right" show-overflow style="text-align:center">
                    <template #default="{ row }">
                        <vxe-button type="text" icon="iconfont icon-edit5" @@click="editRowEvent(row)" style="color:blue">{{ btnItemTitle }}</vxe-button>
                        @*<template v-if="row.row_status !='' && cancelButton" >
                            <vxe-button type="text" icon="iconfont icon-cancel" @click="revertData(row)" style="color:orangered" content="取消"></vxe-button>
                        </template>*@
                    </template>
                </vxe-column>
                <vxe-column field="id" title="id" width="100" v-if="false"></vxe-column>
                <vxe-column field="sequence_id" title="sequence_id" width="100" v-if="false"></vxe-column>
                <vxe-column field="location" title="倉庫" width="100" v-if="false"></vxe-column>
                <vxe-column field="carton_code" title="倉位" width="100" v-if="false"></vxe-column>
                <vxe-column field="prd_id" title="prd_id" width="100" v-if="false"></vxe-column>
                <vxe-column field="jo_id" title="jo_id" width="100" v-if="false"></vxe-column>
                <vxe-column field="jo_sequence_id" title="jo_sequence_id" width="100" v-if="false"></vxe-column>  
                <vxe-column field="qc_qty" title="qc_qty" width="100" v-if="false"></vxe-column>              
                <vxe-column field="row_status" title="行編輯狀態" v-if="false" width="100"></vxe-column>               
            </vxe-table>
        </div>
        
        <!--表格2,成份-->
        <div style="float:left;width:100%;">
            <vxe-toolbar perfect size="small" style="height:35px;margin-bottom:0px;background:#F5F7FA">
                <template #buttons style="height:35px;margin-bottom:10px">
                    <vxe-button icon="iconfont icon-row-add" @@click="insertRowEvent2()" style="margin-left: 0px"content="項目新增"></vxe-button>
                    <vxe-button icon="iconfont icon-row-del" @@click="tempDelRowEvent2()" style="margin-left: -2px"content="項目刪除"></vxe-button>
                    @*<vxe-button icon="iconfont icon-cancel" style="color:orangered" content="还原" v-if="cancelButton2"></vxe-button>*@
                    <vxe-button icon="iconfont icon-search2" @*@click="showFindWindos()"*@ style="margin-left: -2px"content="库存查询"></vxe-button>
                </template>
            </vxe-toolbar>
            <vxe-table border
                       show-overflow                       
                       :data="tableData2"
                       ref="xTable2"
                       keep-source
                       @*動態設置表格高度*@
                       :height="tableHeight"
                       size="small"
                       @*欄寬度可調*@
                       resizable
                       show-header-overflow
                       :header-cell-style="headerCellStyle"
                       :cell-style="cellStyle"
                       highlight-hover-row
                       highlight-current-row
                       :loading="loading" 
                       @*選中時highlight*@
                       :checkbox-config="{highlight: true, range: true}"
                       :edit-rules="validRules2"
                       :mouse-config="{selected:true}"
                       :keyboard-config="{isArrow: true,isTab:true,isEnter:true,enterToTab:true}"                       
                       :edit-config="{trigger: 'click', mode: 'cell',activeMethod:activeMethod,showIcon:true,showStatus: true}"
                       :row-config="{height: 25}"
                       @@cell-click="cellClickEvent2">
                <vxe-column type="seq" title="#" fixed="left" width="40"></vxe-column>
                <vxe-column field="mo_id" title="頁數" fixed="left" width="100"></vxe-column>
                <vxe-column field="goods_id" title="貨品編碼" width="200":edit-render="{autofocus: '.vxe-input--inner'}">
                    <template #edit="{ row }">
                        <vxe-input v-model="row.goods_id" type="search" style="height:20px;" 
                                   @@change="setUpperCase('goods_id',row.goods_id,'2')"
                                   @@search-click="showFindItem()"
                                   @@blur="checkItem(row.goods_id,'2')">
                        </vxe-input>
                    </template>
                </vxe-column>
                <vxe-column field="goods_name" title="貨品名稱" width="260"></vxe-column>
                <vxe-column field="lot_no" title="批號" width="150" :edit-render="{}">
                    <template #edit="{ row }">
                        <vxe-input v-model="row.lot_no" style="height:20px;" type="search" @@search-click="showLotNo($event)">
                        </vxe-input>
                    </template>
                </vxe-column>
                <vxe-column field="con_qty" title="用量" width="100" :edit-render="{name:'input',autoselect:true}" >
                    <template #edit="{ row }">
                        <vxe-input v-model="row.con_qty" type="float" min="0.01" :controls="false" style="height:20px;" @@change="setCancelStatus2()"
                                   @*type="text" @@change="checkNumberDec2Part(row,'con_qty',row.con_qty)"*@
                                   @@blur="convertSecQtyByQty(row)">
                        </vxe-input>
                    </template>
                </vxe-column>
                <vxe-column field="unit_code" title="單位" width="50"></vxe-column>
                <vxe-column field="sec_qty" title="重量" width="100":edit-render="{name:'input',autoselect:true}" :formatter="formatSecQty">
                    <template #edit="{ row }">
                        <vxe-input v-model="row.sec_qty" type="float" min="0.01" :controls="false" style="height:20px;" @@change="setCancelStatus2()"
                                   @*type="text" @@change="checkNumberDec2Part(row,'sec_qty',row.sec_qty)"*@>
                        </vxe-input>
                    </template>
                </vxe-column>
                <vxe-column field="sec_unit" title="重量單位" width="80"></vxe-column>                
                <vxe-column field="package_num" title="包數" width="60"></vxe-column>
                <vxe-column field="remark" title="備註" width="150"></vxe-column>
                @*<vxe-column title="操作" width="140" fixed="right" show-overflow style="text-align:center">
                    <template #default="{ row }">
                        <vxe-button type="text" icon="iconfont icon-edit5" @click="editRowEvent(row)" style="color:blue">{{ btnItemTitle }}</vxe-button>                        
                    </template>                    
                </vxe-column>*@
                <vxe-column field="bom_qty" title="Bom用量"v-if="false" width="70"></vxe-column>
                <vxe-column field="base_qty" title="基數"v-if="false" width="70"></vxe-column>
                <vxe-column field="row_status" title="行編輯狀態" v-if="false" width="70"></vxe-column>
                <vxe-column field="upper_sequence" title="upper_sequence" v-if="false" width="100"></vxe-column>
                <vxe-column field="sequence_id" title="sequence_id" v-if="false" width="100"></vxe-column>                
            </vxe-table>
        </div>
        <!---->
        <!--新增&编辑彈窗-->
        <vxe-modal v-model="showEdit" :title="btnItemTitle" width="800" min-width="600" min-height="300" :loading="submitLoading" resize destroy-on-close>
          <template #default>
            <vxe-form :data="rowDataEdit" :rules="validRules" title-align="right" title-width="100" @*@submit="submitEvent"*@ style="height:400px" custom-layout >
                <vxe-toolbar perfect size="small" style="height:40px;margin-bottom:0px;background:#F5F7FA">
                    <template #buttons style="height:35px;margin-bottom:0px">
                        <vxe-button size="mini" icon="iconfont icon-previous1" @@click="handlerNextOrPrev('Prev')" content="前一筆"></vxe-button>
                        <vxe-button size="mini" icon="iconfont icon-next1" @@click="handlerNextOrPrev('Next')" content="后一筆"></vxe-button>                        
                    </template>
                </vxe-toolbar>
                <vxe-form-item field="mo_id" title="頁數" :span="12" :item-render="{}" class="vxe-form-item-customize">
                    <template #default="{ data }">
                        <vxe-input v-model="data.mo_id" maxlength="9" class="input-customize" ref="editMoId" autofocus="autofocus"
                                   @@change="setUpperCase('mo_id',data.mo_id,'1')" @@blur="checkMo(data.mo_id,'2')" :readonly="isReadOnly">
                        </vxe-input>                        
                    </template>
                </vxe-form-item>
                <vxe-form-item field="color_name" title="CF顏色名稱" :span="12" :item-render="{}" class="vxe-form-item-customize">
                    <template #default="{ data }">
                        <vxe-input v-model="data.color_name" class="input-customize" readonly></vxe-input>
                    </template>
                 </vxe-form-item>
                <vxe-form-item field="goods_id" title="貨品編號" :span="12" :item-render="{}" class="vxe-form-item-customize">
                    <template #default="{ data }">
                        <vxe-input v-model="data.goods_id" maxlength="18" class="input-customize my-search" @@change="setUpperCase('goods_id',data.goods_id,'1')" readonly>
                            <template #suffix>
                                <i class="iconfont icon-search1" @@click="showItem($event,'2')"></i>
                            </template>
                        </vxe-input>                        
                    </template>
                </vxe-form-item>                
                <vxe-form-item field="goods_name" title="貨品名稱" :span="12" :item-render="{}" class="vxe-form-item-customize">
                    <template #default="{ data }">
                        <vxe-input v-model="data.goods_name" class="input-customize" readonly></vxe-input>
                    </template>
                </vxe-form-item>
                <vxe-form-item field="app_supply_side" title="供方電鍍廠" :span="12" :item-render="{}" class="vxe-form-item-customize">
                    <template #default="{ data }">
                        <vxe-input v-model="data.app_supply_side" class="input-customize" readonly></vxe-input>
                    </template>
                </vxe-form-item>
                <vxe-form-item field="package_num" title="包數" :span="12" :item-render="{}" class="vxe-form-item-customize">
                    <template #default="{ data }">
                        <vxe-input v-model="data.package_num" type="integer" min="0" max="999" :controls="false" @@change="setCancelStatus()"class="input-customize":readonly="isReadOnly"></vxe-input>                       
                    </template>
                </vxe-form-item>
                 <vxe-form-item field="con_qty" title="組裝數量" :span="12" :item-render="{name:'input',autoselect:true}" class="vxe-form-item-customize">
                    <template #default="{ data }">
                        <vxe-input v-model="data.con_qty" type="integer" min="1" :controls="false" @@change="setCancelStatus()"class="input-customize" :readonly="isReadOnly"></vxe-input>
                    </template>
                </vxe-form-item>
                <vxe-form-item field="unit_code" title="單位" :span="12" :item-render="{}" class="vxe-form-item-customize">
                    <template #default="{ data }">
                        <vxe-select v-model="data.unit_code"size="mini" @@change="setCancelStatus()" :disabled="isReadOnly">
                            <vxe-option v-for="item in qtyUnitList" :key="item.value" :value="item.value" :label="item.label"></vxe-option>
                        </vxe-select>
                    </template>
                </vxe-form-item>
                <vxe-form-item field="sec_qty" title="重量" :span="12" :item-render="{name:'input',autoselect:true}" class="vxe-form-item-customize">
                    <template #default="{ data }">
                        <vxe-input v-model="data.sec_qty" type="float" min="0.01" :controls="false" @@change="setCancelStatus()" class="input-customize" :readonly="isReadOnly"></vxe-input>
                    </template>
                </vxe-form-item>               
                <vxe-form-item field="sec_unit" title="重量單位" :span="12" :item-render="{}" class="vxe-form-item-customize">
                    <template #default="{ data }">
                        <vxe-select v-model="data.sec_unit" size="mini" @@change="setCancelStatus()" :disabled="isReadOnly">
                            <vxe-option v-for="item in wtUnitList" :key="item.value" :value="item.value" :label="item.label"></vxe-option>
                        </vxe-select>
                    </template>
                </vxe-form-item>
                <vxe-form-item field="return_qty_nonce" title="退回數量" :span="12" :item-render="{}" class="vxe-form-item-customize">
                    <template #default="{ data }">
                        <vxe-input v-model="data.return_qty_nonce" class="input-customize" readonly></vxe-input>
                    </template>
                </vxe-form-item>
                <vxe-form-item field="lot_no" title="批號" :span="12" :item-render="{}" class="vxe-form-item-customize">
                    <template #default="{ data }">
                        <vxe-input v-model="data.lot_no" class="input-customize" readonly></vxe-input>
                    </template>
                </vxe-form-item>
                <vxe-form-item field="four_color" title="四位顏色" :span="12" :item-render="{}" class="vxe-form-item-customize">
                    <template #default="{ data }">
                        <vxe-input v-model="data.four_color" class="input-customize" readonly></vxe-input>
                    </template>
                </vxe-form-item>
                <vxe-form-item span="12" :item-render="{}" class="vxe-form-item-customize"></vxe-form-item>
                <vxe-form-item field="remark" title="備註" :span="24" :item-render="{}" class="vxe-form-item-customize">
                    <template #default="{ data }">
                        <vxe-input v-model="data.remark" class="input-customize" @@change="setCancelStatus()" :readonly="isReadOnly"></vxe-input>
                    </template>
                </vxe-form-item>

            </vxe-form>
          </template>
        </vxe-modal>     

        @*彈窗:表格一中根據生產計劃流程,顯示部門相關流程*@
        <vxe-modal v-model="showGoods" title="貨品編碼" width="750" :position="{top: showGoodsY, left: showGoodsX}":mask="false" resize destroy-on-close>
            <template #default>
              <vxe-toolbar perfect size="small" style="height:40px;margin-bottom:0px;background:#F5F7FA">
                    <template #buttons style="height:35px;margin-bottom:0px">
                        <vxe-button icon="iconfont icon-Cancel" @@click="showGoods=false"><span style="color:red">退出</span></vxe-button>    
                        <vxe-button status="primary" size="mini" icon="iconfont icon-confirm4" @@click="changeItem()" content="確認"></vxe-button>
                    </template>
              </vxe-toolbar>
              <vxe-table border
                show-overflow
                show-header-overflow
                :header-cell-style="headerCellStyle"
                highlight-hover-row
                highlight-current-row
                height="200"
                size="small"
                resizable
                :data="goodsPlanList"
                :row-config="{height: 25}"
                @@cell-click="cellClickGetItems">
                <vxe-column type="seq" title="#" fixed="left" width="20"></vxe-column>
                <vxe-column field="goods_id" title="貨品編碼" width="170"></vxe-column>
                <vxe-column field="goods_name" title="貨品名稱" width="200"></vxe-column>
                <vxe-column field="location" title="下部門" width="70"></vxe-column>
                <vxe-column field="prod_qty" title="生產數量" width="90"></vxe-column>
                <vxe-column field="qty" title="倉存數量" width="90"></vxe-column>
                <vxe-column field="sec_qty" title="倉存重量" width="80"></vxe-column>
                <vxe-column field="jo_id" title="計劃ID" v-if="false" width="80"></vxe-column>
                <vxe-column field="jo_sequence_id" title="計劃序號" v-if="false" width="80"></vxe-column>            
              </vxe-table>
            </template>
        </vxe-modal>
        @*彈窗:批號選擇*@
        <vxe-modal v-model="showLot" title="批號" width="750" :position="{top: showGoodsY, left: showGoodsX}" :mask="false" resize destroy-on-close>
            <template #default>
              <vxe-toolbar perfect size="small" style="height:40px;margin-bottom:0px;background:#F5F7FA">
                    <template #buttons style="height:35px;margin-bottom:0px">
                        <vxe-button status="primary" size="mini" icon="iconfont icon-confirm4" @@click="changeLotNo()" content="確認"></vxe-button>
                    </template>
              </vxe-toolbar>
              <vxe-table border
                show-overflow
                show-header-overflow
                :header-cell-style="headerCellStyle"
                highlight-hover-row
                highlight-current-row
                height="150"
                size="small"
                resizable
                :data="lotNoList"
                :row-config="{height: 25}"                
                @@cell-click="cellClickGetLotNo">
                <vxe-column type="seq" title="#" fixed="left" width="20"></vxe-column>
                <vxe-column field="lot_no" title="批號" width="170"></vxe-column>
                <vxe-column field="qty" title="數量" width="90"></vxe-column>
                <vxe-column field="sec_qty" title="重量" width="90"></vxe-column>
                <vxe-column field="mo_id" title="頁數" width="90"></vxe-column>
                <vxe-column field="vendor_name" title="供應商名稱" width="180"></vxe-column>
                <vxe-column field="is_qc" title="是否QC" width="70"></vxe-column>   
                <vxe-column field="goods_id" title="貨品編碼" v-if="false" width="100"></vxe-column>             
              </vxe-table>
            </template>
        </vxe-modal>

    </div> @*tab2 end*@

</div>


@section PageSpecificJavascriptIncludes{    
    <script src="~/Areas/Prod/js/ProduceAssembly.js?v=@Guid.NewGuid().ToString()"></script>   
    <script> Vue.config.productionTip = false</script> 
}
